@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/NunitoRegular.ttf");
    font-family: "Nunito";
    font-weight: 400;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/NunitoSemiBold.ttf");
    font-family: "Nunito";
    font-weight: 600;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/NunitoExtraBold.ttf");
    font-family: "Nunito";
    font-weight: 800;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/NunitoMedium.ttf");
    font-family: "Nunito";
    font-weight: 500;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/NunitoBold.ttf");
    font-family: "Nunito";
    font-weight: 700;
}
@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/Rounds.ttf");
    font-family: "Rounds";
    font-weight: 900;
}
/* Стиль для класса font-roundsblack */
.font-roundsblack {
    font-family: "Rounds", sans-serif;
    font-weight: 900; /* Используйте подходящий вес */
}